.apod {
    height: 125vh;
}

.apod-container {
    color: black;
    text-align: center;
    position: relative;
    top: 10%;
}

.apod-container p {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}