.climate-change {
    background-image: url(climate.mp4);
    background-size: 100% 50%; 
    background-repeat: no-repeat;
    background-position: 0 -15%;
    height: 100vh;
}

.climate-background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.climate-change-heading {
    font-weight: 600;
    font-size: 75px;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;
}

.climate-change-subheadings h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.climate-change-subheadings .carbon-dioxide-heading {
    position: absolute;
    top: 30%;
    left: 10%;
    color: orange;
}

.climate-change-subheadings .global-temperature-heading {
    position: absolute;
    top: 30%;
    left: 35%;
    color: coral;
}

.climate-change-subheadings .sea-level-heading {
    position: absolute;
    top: 30%;
    left: 65%;
    color: lightskyblue;
}

.climate-stats h2 {
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.climate-stats .carbon-dioxide-stat {
    position: absolute;
    top: 32.5%;
    left: 10%;
}

.climate-stats .global-temperature-stat {
    position: absolute;
    top: 32.5%;
    left: 35%;
}

.climate-stats .sea-level-stat {
    position: absolute;
    top: 32.5%;
    left: 65%;
}

.climate-stats h3 {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.climate-stats .carbon-dioxide-stat2 {
    position: absolute;
    top: 470px;
    left: 17.5%;
    width: 100px;
}

.climate-stats .global-temperature-stat2 {
    position: absolute;
    top: 470px;
    left: 40.5%;
    width: 150px;
}

.climate-stats .sea-level-stat2 {
    position: absolute;
    top: 470px;
    left: 70%;
    width: 100px;
}

.modal-button {
    font-size: 100px;
    border: none;
    background-color: transparent;
    color: orange;
    cursor: pointer;
    outline: none;

    position: relative;
    top: 450px;
    left: 23%;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}
  
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A1A1A;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 80%;
}

.modal-content .co2-fig1 {
    width: 750px;
    height: auto;
}

.modal-content .co2-fig2 {
    width: 750px;
    height: auto;
    position: absolute;
    left: 0;
    top: 600px;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (min-aspect-ratio: 16/9) {
    .climate-background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .climate-background-video {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 1921px) {
    .climate-stats .carbon-dioxide-stat2 {
        position: absolute;
        top: 355px; 
        left: 20%; 
        width: 100px;
    }

    .climate-stats .global-temperature-stat2 {
        position: absolute;
        top: 355px; 
        left: 42.25%; 
        width: 150px;
    }

    .climate-stats .sea-level-stat2 {
        position: absolute;
        top: 355px; 
        left: 71.5%; 
        width: 100px;
    }

    .modal-button {
        font-size: 100px;
        border: none;
        background-color: transparent;
        color: orange;
        cursor: pointer;
        outline: none;
    
        position: relative;
        top: 335px;
        left: 25%;
    }
}

@media only screen and (min-width: 1922px) and (max-width: 3841px) {
    .climate-stats .carbon-dioxide-stat2 {
        position: absolute;
        top: 470px; 
        left: 17.5%; 
        width: 100px;
    }

    .climate-stats .global-temperature-stat2 {
        position: absolute;
        top: 470px; 
        left: 40.5%; 
        width: 150px;
    }

    .climate-stats .sea-level-stat2 {
        position: absolute;
        top: 470px; 
        left: 69.75%; 
        width: 100px;
    }
}


