.iss-tracker {
    background-image: url(iss.mp4);
    background-size: 100% 50%; 
    background-repeat: no-repeat;
    background-position: 0 -15%;
    height: 95vh;
}

.iss-background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.iss-description {
    color: white;
    position: relative;
    top: 15%;
    left: 5%;
}

.iss-description h1 {
    font-size: 3.5rem;
}

.iss-description h2 {
    font-size: 1.25rem;
    font-weight: 400;
    width: 400px;
}

@media (min-aspect-ratio: 16/9) {
    .iss-background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .iss-background-video {
        width: auto;
        height: 100%;
    }
}
