body {
    height: 125vh;
    font-family: 'Helvetica', sans-serif;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 500px;
    height: auto;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: 'Helvetica', sans-serif;

    background-color: gray;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-container li {
    margin: 0 20px;
}

.nav-container a {
    color: lightgrey;
}

.nav-container a:hover {
    color: #fff;  
    transition: color 0.3s ease;  
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map-container {
    text-align: center;
}

.apod-container {
    text-align: center;
}
