* {
    font-family: 'Montserrat', sans-serif;
}


body {
    height: 150vh;
    font-family: 'Helvetica', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

nav {
    display: flex; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
} 

.logo {
    width: auto; 
    height: 75px;
    padding-left: 10px;
}
  
.logo-text h1 {
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding-left: 5px;
    position: absolute;
    top: 3px;
}

.logo-text h3 {
    color: #fff; 
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 100;
    padding-left: 5px;
    position: absolute;
    top: 46px;
}
  
.nav-links {
    list-style-type: none; 
    display: flex; 
    margin-left: auto; 
}
  
.nav-links li {
    margin: 0 20px; 
}
  
.nav-links a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}
  
.nav-links a:hover {
    color: lightgray; 
}

.home {
    background-image: url(space.jpg);
    background-size: 100% 75%; 
    background-repeat: no-repeat;
    background-position: top;
}

.iss-tracker {
    background-image: url(iss.jpg);
    background-size: 100% 50%; 
    background-repeat: no-repeat;
    background-position: 0 -15%;
} 

.apod {
    background-image: url(apod.jpg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: top;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    top: 825px;
    left: 50%;
    transform: translateX(-50%);
}

.map-container {
    text-align: center;
}

.iss-description {
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50px;
    top: 250px;
}

.iss-description h1 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
}

.iss-description h3 {
    font-weight: 400;
    width: 500px;
}

.apod-container {
    color: black;
    text-align: center;
    position: relative;
    top: 860px;
}

.apod-container p {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}

