* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0);
    color: white;
} 

.logo-container {
    display: flex;
    align-items: center;
    padding: 5px;
}

.logo img {
    height: auto;
    width: 75px;
}

.logo-text h1 {
    font-size: 1.88rem;
    margin: 0.5rem;
}

.logo-text h2 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 0.5rem;
    margin-top: -0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 5px;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: white;
    padding: 1.25rem;
    display: block;
    transition: color 0.4s ease; 
}
  
.navbar-links a:hover {
    color: gray; 
}










