<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/apod.css">
    <title>Astralium</title>  
</head>
<body class="apod">
    <nav>
        <div>
            <img class="logo" src="/static/astronaut.png" alt="Logo">
        </div>

        <div class="logo-text">
            <h1>ASTRALIUM</h1>
            <h3>Our Galaxy & Beyond</h3>
        </div>

        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/iss_tracker">ISS TRACKER</a></li>
            <li><a href="/climate_change">CLIMATE CHANGE</a></li> 
            <li><a href="/apod">PHOTO OF THE DAY</a></li>
        </ul>
    </nav>
    
    <div class="apod-container">
        <h1>{{ apod_data.title }} ({{ currDate }})</h1>
        <img src="{{ apod_data.url }}" alt="{{ apod_data.title }}">
        <p>{{ apod_data.explanation }}</p>
    </div>
        
</body>
</html>
