<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Astralium</title>  
</head>
<body>
    <div id="logo-container">
        <img id="logo" src="/static/AstraliumLogoV1.png" alt="Logo">
    </div>

    <div id="navbar-container">
        <nav>
            <a href="/">Home</a> | 
            <a href="/iss_tracker">ISS Tracker</a> |
            <a href="/climate_change">Climate Change</a> |
            <a href="/photo_of_the_day">Photo of the Day</a>
        </nav>       
    </div>
</body>
</html>
