<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Astralium</title>  
</head>
<body>
    <div id="logo-container">
        <img id="logo" src="/static/AstraliumLogoV1.png" alt="Logo">
    </div>

    <header>
        <nav>
            <ul class="nav_links">
                <li><a href="/">HOME</a></li>
                <li><a href="/iss_tracker">ISS TRACKER</a></li>
                <li><a href="/climate_change">CLIMATE HEAT MAP</a></li> 
                <li><a href="/apod">PHOTO OF THE DAY</a></li>
            </ul>
        </nav>       
    <header>
</body>
</html>