<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/iss_tracker.css">
    <title>ISS Tracker</title>  
    <script src="/static/map.js"></script>
</head>
<body class="iss-tracker">
    <video autoplay muted loop plays-inline class="iss-background-video">
        <source src="/static/iss.mp4" type="video/mp4">
    </video>

    <nav class="navbar">
        <div class="logo-container">
            <div class="logo">
                <img src="/static/astronaut.png" alt="Logo">
            </div>
    
            <div class="logo-text">
                <h1>ASTRALIUM</h1>
                <h2>Our Galaxy & Beyond</h2>
            </div>
        </div>
    
        <div class="navbar-links">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/iss_tracker">ISS TRACKER</a></li>
                <li><a href="/climate_change">CLIMATE CHANGE</a></li> 
                <li><a href="/apod">PHOTO OF THE DAY</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="iss-content-container">
        <!-- <div class="message-container">
            <h1>{{ message }}</h1>
        </div> -->
    
        <div class="map-container">
            <div id="map" style="width: 60%; height: 75%; margin: 0 auto; position: absolute; top: 20%; right: 5%;"></div>
        </div>
    
        <script>
            window.onload = function() {
                initMap({{ iss_longitude }}, {{ iss_latitude }});
            };
        </script>
    </div>

    <div class="iss-description">
        <h1>The ISS</h1>
        <h2>The International Space Station serves as a habitable research laboratory in low-Earth orbit.
            It has fostered international cooperation and scientific research for decades.</h2>
    </div>

</body>
</html>


