<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>ISS Tracker</title>  
    <script src="/static/map.js"></script>
</head>
<body class="iss-tracker">
    <nav>
        <div>
            <img class="logo" src="/static/astronaut.png" alt="Logo">
        </div>

        <div class="logo-text">
            <h1>ASTRALIUM</h1>
            <h3>Our Galaxy & Beyond</h3>
        </div>

        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/iss_tracker">ISS TRACKER</a></li>
            <li><a href="/climate_change">CLIMATE HEAT MAP</a></li> 
            <li><a href="/apod">PHOTO OF THE DAY</a></li>
        </ul>
    </nav>
    
    <div class="message-container">
        <h1>{{ message }}</h1>
    </div>

    <div class="map-container">
        <div id="map" style="width: 75%; height: 750px; margin: 0 auto; position: absolute; top: 900px; left: 12.5%;"></div>
    </div>

    <script>
        window.onload = function() {
            initMap({{ iss_longitude }}, {{ iss_latitude }});
        };
    </script>

</body>
</html>


